.contents.row
  .postcontainer
    = form_with(model: @posts, local: true) do |form|
      %h3 編集する
      = form.text_field :name, placeholder: "name"
      = form.text_field :image, placeholder: "Image"
      = form.text_area :text, placeholder: "text", rows: "10"
      = form.submit "SEND"